body{
  background:#ececec;
  font-family: Poppins, sans-serif;
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
}

.calculator{
  background:white;
  padding:20px;
  border-radius:15px;
  width:240px;
  box-shadow:0px 8px 25px rgba(0,0,0,0.15);
}

#display{
  width:100%;
  height:50px;
  margin-bottom:15px;
  border:none;
  background:#f4f4f4;
  font-size:22px;
  padding:8px;
  border-radius:8px;
  text-align:right;
}

.buttons{
  display:grid;
  grid-template-columns:repeat(4,1fr);
  gap:10px;
}

button{
  padding:12px;
  font-size:18px;
  border:none;
  border-radius:8px;
  cursor:pointer;
  background:#e9e9e9;
  transition:0.2s;
}

button:hover{
  background:#dcdcdc;
}

.clear{
  background:#ff7979;
  color:white;
}

.equal{
  background:#59bfff;
  color:white;
}

.plus{
  background:#ffd86b;
}

.zero{
  grid-column: span 2;
}
